/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
.DS_Store

# Eclipse IDE support files
.classpath
.settings
.project
.checkstyle
.factorypath
.tern-project
target
*.?ar
*.iml
*.ipr
*.iws

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
nbactions.xml
.gradle/
/out/
/build/
/classes/
/config/
